:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Source Sans 3";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  appearance: none;
  font-family: "Source Sans 3";
  background: transparent;
  color: inherit;
  border: 0;
}

button:focus-visible {
  outline-color: #02bc9c;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  padding: 16px;
}

* {
  box-sizing: border-box;
}
